.awesomplete ul p .small {
    display: none !important;
}
body[data-route^="Form/Product_Requisition_Form/"]
  .config-area
  .frappe-checkbox:nth-child(2) {
  display: none !important;
}
body[data-route^="Form/Product_Requisition_Form/"]
  .modal-footer .btn-modal-secondary {
  display: none !important;
}
